* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #f6f6f6;
}
.container {
  display: flex;
  justify-content: center;
}
.product-list {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 5rem;
  grid-row-gap: 3rem;
  max-width: 1170px;
  width: 90vw;
}
.product {
  background-color: rgb(224, 218, 230);
  border-radius: 5px;
}
.product-img {
  width: 100%;
  height: 250px;
}
.product img {
  width: 100%;
  height: 100%;
}
.product-desc {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.btn {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 6px 15px;
  border-radius: 5px;
}
.primary {
  background-color: #6d28d9;
  color: #fff;
}
button:disabled {
  cursor: not-allowed;
  background-color: rgb(201, 201, 201);
}
